@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Encode+Sans+SC:wght@100&display=swap');

:root{
    --brown_dark: #A19882;
    --brown: #C2B8A3;
    --brown_light: #E6DDC6;
    --brown_lighter: #FEF7DC;
    --special: #EAE1E1;
}

*{
    font-family: 'Courgette','微軟正黑體', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

section{
    margin-bottom: 100px;
}

.navbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    /* background: rgba(0, 0, 0, 0.1); */
    z-index: 999;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.max-width{
    max-width: 1300px; /*1300px*/
    padding: 0 100px;
    margin: 0 auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-nav{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navbar .nav-title{
    display: inline;
}

.navbar .nav-item{
    list-style: none;
    display: inline;
}

.navbar .nav-item a {
    /* display: block; */
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    margin-left: 100px;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.navbar .nav-item a:hover{
    color:#FEF7DC;
}

.navbar.sticky{
    position: fixed;
    top: 0;
    height: 100px;
    padding: 20px 0;
    background: rgba(254, 247, 220, .8);
    /* opacity: .4; */
}

.navbar.sticky .nav-item a{
    color: #A19882;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.navbar.sticky a:hover{
    border-bottom: solid 1px;
    
}


/*================================ menu btn style ================================*/
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*================================ home section style ================================*/

.home{
    display: flex;
    background: url('yukiSDIM0726_TP_V.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    min-width: 1500px;
    /* 不加上面那句右邊會留白 */
}

.home .max-width{
    margin: 30vh auto auto auto;
}

.home-content{
    font-size: 50px;
}

.home-content .second-title{
    margin-top: 20vh;
}

.home-content .second-title .slow{
    margin-top: 50px;
}

/*================================ all section style ================================*/
.vertical-text{
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.name{
    font-size: 45px;
    color: #A19882;
    text-align: center;
}

.title{
    font-size: 35px;
    font-weight: 600;
    color: #A19882;
}

.detail{
    display: flex;
    flex-wrap: wrap;/*超出範圍就換行*/
    align-items: center;
    justify-content: space-around;
}

.detail p{
    font-size: 16px;
    font-weight: 400;
    color: #A19882;
}

.learn-more{
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    color: #A19882;
}

.learn-more::after{
    content:"";
    position: absolute;
    width: 200px;
    height: 14px;
    top: 10px;
    background: url('Arrow\ 1.png') no-repeat;
    background-position: 100% 0%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.learn-more:hover{
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
}

.learn-more:hover::after{
    -webkit-transform: translateX(30%);
    -moz-transform: translateX(30%);
    transform: translateX(30%);
}

footer *{
    padding: 0;
    margin: 0;
}
/*================================ people section style ================================*/
.people{
    min-width: 1500px;
}

.people-content hr{
    color: #A19882;
}

.people-content .people-title h4{
    text-align: right;
    margin-right: 300px;
    position: relative;
}

.people-content .people-title h4::after{
    content: "";
    position: absolute;
    right: -50px;
    top: 13px;
    width: 100px;
    height: 20px;
    background-color: #E6DDC6;
    z-index: -2;
}

.people-content .people-image{
    width: 45%;
    position: relative;
}

.people-content .people-image img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: 60% 0%;
    /* object-position: center; */ 
}

.people-content .people-image::before{
    content: "";
    position: absolute;
    top: 40px;
    left: -45px;
    width: 300px;
    height: 400px;
    background-color: #FEF7DC;
    z-index: -5;
}

.people-content .people-frame .people-detail{
    width: 55%;
}

.people-content .people-frame .people-detail h4{
    font-size: 30px;
    font-weight: 600;
    color: #A19882;
}

.people-content .people-frame .people-detail .learn-more{
    margin-left: 400px;
}

.people-content .people-frame .people-detail .learn-more::after{
    right: -30px;
}



/*================================ thing section style ================================*/
.thing{
    min-width: 1500px;
}

.thing-content{
    display: flex;
    position: relative;
}

.thing-content .thing-title{
    width: 30%;
    position: relative;
}

.thing-content .thing-title::before{
    content: "";
    position: absolute;
    top: 250px;
    left: 70px;
    width: 30px;
    height: 130px;
    background-color: #FEF7DC;
    z-index: -5;
}

.thing-content .thing-title h4{
    margin-top: 200px;
}

.thing-content .thing-detail{
    width: 70%;
    height: 500px;
    position: relative;
}

.thing-content .thing-detail::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(1000_F_120472189_m49NsAnNbuwVppEmFfQC0HnQ9YMVfGFI.jpg);
    opacity: 0.2;
}

.thing-content .thing-detail p{
    width: 80%; /* 其實這邊也可以改成padding */
    line-height: 2rem;
}

.thing-content .learn-more{
    position: absolute;
    left: 400px;
    top: 400px;
}

.thing-content .learn-more::after{
    left: -80px;
}


/*================================ time section style ================================*/
.time{
    min-width: 1500px;
}

.time-content{
    display: flex;
    position: relative;
}

.time-content .time-title{
    width: 30%;
    position: relative;
    right: -300px;
}

.time-content .time-title::before{
    content: "";
    position: absolute;
    top: 170px;
    left: 40px;
    width: 30px;
    height: 130px;
    background-color: #E6DDC6;
    z-index: -5;
}

.time-content .time-title h4{
    margin-top: 200px;
}

.time-content .time-detail{
    width: 60%;
    height: 500px;
    position: relative;
    right: -10%;
    background-color: #FEF7DC;
}

.time-content .time-detail::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 300px;
    left: -150px;
    top: 50px;
    background-color: #EAE1E1;
    z-index: 1;
}

.time-content .time-detail::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    right: 10%;
    border: solid 3px #E6DDC6;
    z-index: -999;
}

.time-content .time-detail p{
    width: 80%;
    padding: 60px 0px;
    line-height: 3rem;
    letter-spacing: .3rem;
    z-index: 10;
}

.time-content .learn-more{
    position: absolute;
    top: 450px;
    left: 50px;
}

.time-content .learn-more::after{
    left: -80px;
}

/*================================ goods section style ================================*/
.goods{
    min-width: 1500px;
}

.goods-content{
    /* display: flex; */
    /* position: relative; */
}

.goods-content .goods-title{
    width: 100%;
    text-align: center;
    position: relative;
}

.goods-content .goods-title::before{
    content: "";
    position: absolute;
    top: 20px;
    /* right: 600px; */
    width: 130px;
    height: 30px;
    background-color: #FEF7DC;
    z-index: -5;
}

.goods-content .goods-list{
    /* width: 100%; */
    text-align: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.goods-content .goods-list .goods-item:nth-child(3n+2){
    margin-top: 30px;
}

.goods-content .goods-list .goods-item:nth-child(3n+3){
    margin-top: 60px;
}

.goods-content .goods-list .goods-item{
    width: 33.33%;
}

.goods-content .goods-list .pic{
    height: 400px;
    width: 300px;
    margin: 0px 20px;
    object-fit: cover;
}

.goods-content .goods-list .goods-item .goods-subtitle{
    font-size: 25px;
    color: var(--brown_dark);
}
.goods-content .goods-list .goods-item .goods-text{
    padding: 0px 60px;
    line-height: 2rem;
}

.goods-content .learn-more{
    position: relative;
    /* display: flex;
    justify-content: center; */
    right: -50%;
}

.goods-content .learn-more::after{
    right: -50px;
}

/*================================ footer style start ================================*/
footer{
    min-width: 1500px;
    background-color: var(--brown_dark);
    /* height: 400px; */
}

.gotop{
    position: fixed;
    right: 40px;
    bottom: 60px;
    display: block;
    padding-top: 100px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
}

.gotop::before{
    content: "";
    display: block;
    width: 7px;
    height: 100px;
    position: absolute;
    background: url('icon_arrow_top.png') 50% / contain no-repeat;
    top: 0px;
    left: calc(50%);
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
    z-index: 10;
}

.gotop:hover::before{
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    transform: translateY(-10%);
}

.gotop span{
    letter-spacing: 2px;
}

.foot-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-bottom .foot-list{
    list-style: none;
    display: inherit;
}

.foot-bottom .foot-list .foot-item{
    margin: 0px 10px;
    position: relative;
}

.foot-bottom .foot-list .foot-item:not(:last-child)::after{
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background-color: var(--brown_dark);
    top: 50%;
    right: -.5rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.foot-bottom .foot-list .foot-item a{
    color: var(--brown_lighter);
}

.foot-copyright{
    display: flex;
    justify-content: center;
    color: var(--brown_lighter);
}

.foot-mid{
    display: flex;
    color: var(--brown_lighter);
}

.foot-mid .mid-intro{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 30px auto;
}

.foot-mid .mid-intro li{
    text-align: center;
    justify-content: center;
}

.foot-mid .mid-intro li ul *{
    margin-top: 10px;
}

.mid-social .mid-social-list .mid-social-item{
    font-size: 25px;
    color: var(--brown_lighter);
}

.foot-subtitle{
    font-size: 20px;
    font-weight: 600;
}

.mid-content{
    font-size: 16px;
    font-weight: 400;
}

.foot-copyright{
    padding: 10px 0px;
}

/*================================ responseive media query start ================================*/
@media (max-width: 1200px){
    .goods-content .goods-list .goods-item{
        width: 100%;
    }

    .goods-content .goods-list .pic{
        width: 90%;
        margin: 0;
    }

    .navbar .navbar-nav{
        position: absolute;
        right: -200px;
    }
}

@media screen and (max-device-width: 1104px){
    .navbar .navbar-nav{
        position: absolute;
        right: -300px;
    }
    
    .people-content .people-image::before{
        content: "";
        position: absolute;
        top: 32px;
        left: -36px;
        width: 240px;
        height: 306px;
    }

    .people-content .people-frame .people-detail h4{
        font-size: 24px;
    }
    
    .people-content .people-frame .people-detail p{
        font-size: 14px;
    }

    .people-content .people-frame .people-detail .learn-more::after{
        top: 8px;
        right: -24px;
        width: 160px;
        height: 14px;
    }

    .time-content .time-detail{
        width: 500px;
    }
}

@media screen and (max-device-width: 1056px){
    .people-content .people-frame .people-detail .learn-more::after{
        /* width: 80px; */
        right: -16px;
    }

}

@media screen and (max-device-width: 980px){
    .navbar{
        position: fixed;
        top: 0;
        width: 100%;
        padding: 30px 0;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .navbar.sticky .nav-item a{
        color: #000;
    }
    
    .max-width{
        padding: 0 115px;
        max-width: 800px;
    }

    .navbar .navbar-nav{
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: aliceblue;
        text-align: right;
        padding: 80px 100px 0px 0px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    /* 這個可以讓一排menu縮起來變成menu-btn */
    .navbar .navbar-nav.active{
        left: -80%;
    }

    .navbar .navbar-nav.active a{
        color: black;
    }

    .menu-btn{
        display: block;
        z-index: 99;
        color: black;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .navbar .navbar-nav li{
        display: block;
    }

    .navbar .navbar-nav li a{
        display: inline-block;
        margin: 20px -50px 50px 0;
        font-size: 50px;
    }

    .people-content .people-image{
        width: 50%;
        /* 下面兩個才能讓圖片置中 */
        display: flex;
        justify-content: center;
    }

    .people-content .people-image::before{
        content: "";
        position: absolute;
        top: 32px;
        left: 20px;
        width: 240px;
        height: 306px;
    }

    .time-content .time-title{
        right: -150px;
    }

    

}

@media screen and (max-device-width: 690px){
    .max-width{
        /* padding: 0 115px; */
        max-width: 1000px;
    }

    .people-content h4{
        font-size: 50px;
        /* margin: 0; */
    }

    .title{
        font-size: 50px;
    }

    .menu-btn{
        font-size: 50px;
    }

    .people-content h2{
        font-size: 70px;
        margin: 0;
    }

    .people-content .people-frame .people-detail{
        width: 100%;
    }

    .people-content .people-frame .people-detail h4{
        font-size: 50px;
    }

    .people-content .people-image img{
        width: 200%;
    }

    .people-content .people-frame .people-detail p{
        font-size: 30px;
    }

    .home-content{
        font-size: 50px;
    }

    .home-content .second-title span{
        margin-top: 35px;
    }

    .thing-content{
        width: 130%;
    }

    .thing-content .thing-detail{
        width: initial;
        height: initial;
    }

    .thing-content .thing-detail p{
        font-size: 30px;
        line-height: 2.5rem;
        letter-spacing: .1rem;
    }

    .time-content .time-detail{
        height: initial;
        width: 130%;
    }

    .time-content .time-detail p{
        font-size: 35px;
    }

    .goods-content .goods-list .goods-item .goods-card{
        /* width: 90%; */
        margin: 0;
    }

    .goods-content .goods-list .goods-item .goods-subtitle{
        font-size: 45px;
    }

    .goods-content .goods-list .goods-item .goods-text{
        font-size: 30px;
    }

}